* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
// Variable
$bgColor: #fff;
$bgBox: #fbfbfb;
$bgBoxButton: #998ceb;
$radius: 0.7rem;
$animation: cubic-bezier(0.06, 0.04, 1, 1);
body {
	background-color: #000;
	transition: all 0.2s $animation;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 100vh;
	overflow: hidden;
}

.container {
	background-color: $bgColor;
	transition: all 0.2s $animation;
	overflow: hidden;
	height: 100%;
	max-height: 100vh;
	padding: 0.9rem;
	position: relative;
	&.active {
		border-radius: $radius;
		transform: scale(0.96);
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: rgba(241, 235, 235, 0.2);
		}
	}
	.top {
		z-index: 10;
		position: relative;
		display: flex;
		border-radius: $radius;
		background-color: #74ebd5;
		background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
		padding: 0.5rem;
		.logo {
			max-height: 100px;
			max-width: 100px;
			border-radius: $radius;
			overflow: hidden;
			margin-right: 0.5rem;
			&_img {
				width: 100%;
				height: 100%;
			}
		}
		.info {
			color: #000;
			& > h4 {
				margin-bottom: 10px;
			}
			& > span {
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
	.middle {
		z-index: 10;
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 1.2rem 0;
		.box {
			cursor: pointer;
			height: 4rem;
			padding-left: 1.2rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-top: 5px;
			margin-bottom: 5px;
			border-bottom: 2px solid white;
			background-color: $bgBox;
			border-radius: $radius;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			&_icon {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&_title {
				margin-left: 1.2rem;
				line-height: 24px;
				font-weight: 500;
			}
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
				border-bottom: none;
			}
		}
	}

	.blob {
		z-index: 1;
		position: absolute;

		&.blob1 {
			width: 20rem;
			height: 20rem;
			left: -5rem;
			background-color: #8bc6ec;
			background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
			border-radius: 70% 35% 36% 59% / 54% 40% 60% 56%;
			@media (max-width: 555px) {
				left: -20%;
			}
		}
		&.blob2 {
			width: 15rem;
			height: 15rem;
			left: -2rem;
			bottom: 2rem;
			border-radius: 73% 80% 78% 88% / 100% 76% 88% 49%;
			background-color: #fbac7ee5;
			background-image: linear-gradient(62deg, #fbac7ee5 0%, #f7cf68e1 100%);
			@media (max-width: 555px) {
				bottom: -5rem;
				left: -20%;
			}
		}
		&.blob3 {
			width: 20rem;
			height: 20rem;
			bottom: 5rem;
			right: -1rem;
			transform: rotate(45deg);
			background-color: #a9c9ff;
			background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
			border-radius: 100% 0% 100% 100% / 100% 74% 100% 73%;
			@media (max-width: 555px) {
				right: -50%;
			}
		}
	}
}

.modal {
	background-color: $bgColor;
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	bottom: 0;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	overflow: hidden;
	top: 1.5rem;
	transform: translateY(100%);
	&.active {
		transform: translateY(0);
	}
	&_heading {
		background-color: $bgBox;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;
		position: relative;
		&_title {
			font-size: 17px;
			font-weight: 600;
		}
		&_btn {
			position: absolute;
			outline: none;
			border: none;
			font-size: 16px;
			font-weight: 500;
			color: blue;
			text-transform: capitalize;
			background-color: transparent;
			cursor: pointer;
			&.btn_close {
				right: 1rem;
			}
			&.btn_back {
				left: 1rem;
				display: none;
			}
		}
	}
	&_content {
		padding: 0 10px;
		background-color: #fff;
		&_container {
			display: flex;
			flex-direction: column;
			height: calc(100vh - 70px);
			margin-top: 10px;
			&_box {
				width: 100%;
				height: 5rem;
				border: 1px solid #3251;
				margin-top: 5px;
				margin-bottom: 5px;
				border-radius: $radius;
				& > p {
					padding: 5px;
					line-height: 5rem;
					color: #142f43;
					font-size: larger;
					margin-left: 1rem;
				}
			}
			.social {
				width: 100%;
				display: flex;
				flex-direction: column;
				&-item {
					padding: 1rem;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #1b1b1b;
					text-decoration: none;
					font-weight: 600;
					margin-top: 5px;
					margin-bottom: 5px;
					& > span {
						margin-left: 5px;
					}
				}
			}
		}
	}
}
