* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

body.active {
  overflow: hidden;
  background-color: #000;
}

.container {
  background-color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  height: 100vh;
  overflow: hidden;
  border-radius: 0.7rem;
}

.container.active {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
  margin-top: -0.6rem;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.container .top .logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid red;
}

.container .top .logo_img {
  width: 100%;
  height: 100%;
}

.container .top .name {
  margin-top: 1rem;
}

.container .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1rem;
}

.container .middle .box {
  cursor: pointer;
  padding: 3px;
  padding-left: 1rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid white;
  background-color: #f5f5f5;
  border-radius: 0.7rem;
}

.container .middle .box_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .middle .box_title {
  margin-left: 1.2rem;
  line-height: 24px;
}

.container .middle .box:first-child {
  margin-top: 0;
}

.container .middle .box:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.modal {
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 1.3rem;
  left: 0;
  right: 0;
  border-radius: 0.7rem;
  overflow: hidden;
  min-height: 100vh;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.modal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal_heading {
  background-color: #fafafa;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  position: relative;
}

.modal_heading_title {
  font-size: 17px;
  font-weight: 600;
}

.modal_heading_btn {
  position: absolute;
  outline: none;
  border: none;
  font-size: 16px;
  color: blue;
  text-transform: capitalize;
  background-color: transparent;
  cursor: pointer;
}

.modal_heading_btn.btn_close {
  right: 1rem;
}

.modal_heading_btn.btn_back {
  display: none;
  left: 1rem;
}

.modal_content {
  padding: 0 10px;
}
/*# sourceMappingURL=style.css.map */