* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  -webkit-transition: all 0.2s cubic-bezier(0.06, 0.04, 1, 1);
  transition: all 0.2s cubic-bezier(0.06, 0.04, 1, 1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  background-color: #fff;
  -webkit-transition: all 0.2s cubic-bezier(0.06, 0.04, 1, 1);
  transition: all 0.2s cubic-bezier(0.06, 0.04, 1, 1);
  overflow: hidden;
  height: 100vh;
  padding: 0.9rem;
  position: relative;
}

@media (min-width: 555px) {
  .container {
    padding: 2rem;
  }
}

.container.active {
  border-radius: 0.7rem;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  position: relative;
}

.container.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(241, 235, 235, 0.2);
}

.container .top {
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.7rem;
  background-color: #74ebd5;
  background-image: -webkit-gradient(linear, left top, right top, from(#74ebd5), to(#9face6));
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  padding: 0.5rem;
}

.container .top .logo {
  max-height: 100px;
  max-width: 100px;
  border-radius: 0.7rem;
  overflow: hidden;
  margin-right: 0.5rem;
}

.container .top .logo_img {
  width: 100%;
  height: 100%;
}

.container .top .info {
  color: #000;
}

.container .top .info > h4 {
  margin-bottom: 10px;
}

.container .top .info > span {
  font-size: 14px;
  font-weight: 400;
}

.container .middle {
  z-index: 10;
  position: relative;
  padding: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 8rem);
}

@media (min-width: 555px) {
  .container .middle {
    height: calc(100vh - 10rem);
  }
}

.container .middle .box_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 8.5rem;
  margin-right: 2rem;
  overflow-y: auto;
}

@media (max-width: 555px) {
  .container .middle .box_container {
    width: 100%;
    margin-right: 0;
  }
}

.container .middle .box_container .box {
  cursor: pointer;
  min-height: 4rem;
  height: 4rem;
  padding-left: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fbfbfb;
  border-radius: 0.7rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container .middle .box_container .box.active {
  color: #33e223;
}

@media (min-width: 555px) {
  .container .middle .box_container .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 8.5rem;
    width: 8.5rem;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .middle .box_container .box_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .middle .box_container .box_title {
  margin-left: 1.2rem;
  line-height: 24px;
  font-weight: 500;
}

@media (min-width: 555px) {
  .container .middle .box_container .box_title {
    margin-left: 0;
    line-height: none;
    font-size: 16px;
  }
}

.container .middle .box_container .box:first-child {
  margin-top: 0;
}

.container .middle .box_container .box:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.container .middle .box_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: none;
  background-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 0.7rem;
  background-color: rgba(255, 255, 255, 0.199);
}

@media (min-width: 555px) {
  .container .middle .box_content {
    display: block;
  }
}

.container .blob {
  z-index: 1;
  position: absolute;
}

.container .blob.blob1 {
  width: 20rem;
  height: 20rem;
  left: -5rem;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  border-radius: 70% 35% 36% 59% / 54% 40% 60% 56%;
}

@media (max-width: 555px) {
  .container .blob.blob1 {
    left: -20%;
  }
}

.container .blob.blob2 {
  width: 15rem;
  height: 15rem;
  left: -2rem;
  bottom: 2rem;
  border-radius: 73% 80% 78% 88% / 100% 76% 88% 49%;
  background-color: #fbac7ee5;
  background-image: linear-gradient(62deg, #fbac7ee5 0%, #f7cf68e1 100%);
}

@media (max-width: 555px) {
  .container .blob.blob2 {
    bottom: -5rem;
    left: -20%;
  }
}

.container .blob.blob3 {
  width: 20rem;
  height: 20rem;
  bottom: 5rem;
  right: -1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #a9c9ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a9c9ff), to(#ffbbec));
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  border-radius: 100% 0% 100% 100% / 100% 74% 100% 73%;
}

@media (max-width: 555px) {
  .container .blob.blob3 {
    right: -50%;
  }
}

.container .blob.blob4 {
  top: 30%;
  left: 30%;
  -webkit-transform: rotate(34deg);
          transform: rotate(34deg);
  border-top: 200px solid transparent;
  border-right: 225px solid #a9c9ff;
  border-bottom: 200px solid transparent;
}

@media (max-width: 555px) {
  .container .blob.blob4 {
    display: none;
  }
}

.container .blob.blob5 {
  width: 30rem;
  height: 10rem;
  top: 10%;
  left: 60%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: rgba(75, 224, 113, 0.25) 0px 30px 60px -12px inset, rgba(214, 24, 167, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(75, 224, 113, 0.25) 0px 30px 60px -12px inset, rgba(214, 24, 167, 0.3) 0px 18px 36px -18px inset;
  background-color: #b0ffa9;
}

@media (max-width: 555px) {
  .container .blob.blob5 {
    display: none;
  }
}

.modal {
  background-color: #fff;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  overflow: hidden;
  top: 1.5rem;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.modal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal_heading {
  background-color: #fbfbfb;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  position: relative;
}

.modal_heading_title {
  font-size: 17px;
  font-weight: 600;
}

.modal_heading_btn {
  position: absolute;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: blue;
  text-transform: capitalize;
  background-color: transparent;
  cursor: pointer;
}

.modal_heading_btn.btn_close {
  right: 1rem;
}

.modal_heading_btn.btn_back {
  left: 1rem;
  display: none;
}

.modal_content {
  padding: 0 10px;
  background-color: #fff;
}

.modal_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  margin-top: 10px;
}

.modal_content_container_box {
  width: 100%;
  height: 5rem;
  border: 1px solid #3251;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0.7rem;
}

.modal_content_container_box > p {
  padding: 5px;
  line-height: 5rem;
  color: #142f43;
  font-size: larger;
  margin-left: 1rem;
}

.modal_content_container .social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal_content_container .social-item {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1b1b1b;
  text-decoration: none;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal_content_container .social-item > span {
  margin-left: 5px;
}
/*# sourceMappingURL=style.css.map */